/*-start:loading-*/
.padt_loading{
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6Q0NBRDM1NzREQ0FGMTFFMzlGRDlBMTlEOTBCQjZDQjciIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6Q0NBRDM1NzVEQ0FGMTFFMzlGRDlBMTlEOTBCQjZDQjciPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpDQ0FEMzU3MkRDQUYxMUUzOUZEOUExOUQ5MEJCNkNCNyIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpDQ0FEMzU3M0RDQUYxMUUzOUZEOUExOUQ5MEJCNkNCNyIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PsMOIcQAAAFcSURBVHja7Je7SgNBFIYTLwHFS2UQLMQbiKAWgjbaps4LGJ9AfAMba0EfwEYIoogK2tim84LgWmhjQMQyhYUExbh+A7+wLCGosMMW58DHv7M5YT9mZockG4ZhJo3VlklpmZiJmZiJmZiJpaQ6/vvF2+CuSOzCyezMdInxOdcL0K+WJ6jAAZ+f+ZyxXjGk8UhEytUwLMMp0hUY8CX2rnyNjeehG8ZgBR5hCS6QyyW+lE0qq6yxdHWy6kCmTN7DBKzCpu/N//OLsy96E8kGsaZhKW1v5aVyMm1iH8qcD7Gv2N5qVZ3KT59vZfsveueUDz7ExpX12My9NendUpYTOy54/fNEATZ0az82c13qGyQWYR2m4AW2ExHjYe6wHI3cOuY4ONJ1j/KGvkZso19DUedbIjPm+msQuGXhQTuRzwItZ15b5BmuYI++wz+f1vZP3MRMzMRMzMRMrGV9CzAAJQ5Uya8Rrq0AAAAASUVORK5CYII=);
	background-size:50px;
	height:50px;
	left:50%;
	margin:-25px 0 0 -25px;
	position:absolute;
	top:50%;
	width:50px;
	z-index:1000;
}
@keyframes padtLoadingRotate{
	0%{transform:rotateZ(0deg);}
	100%{transform:rotateZ(360deg);}
}
.padt_loading span{
	animation:padtLoadingRotate 1s linear infinite;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6QzU4RUQyNkVEQ0FGMTFFM0ExRjk5QkU1NDk0OTA3RTUiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6QzU4RUQyNkZEQ0FGMTFFM0ExRjk5QkU1NDk0OTA3RTUiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpDNThFRDI2Q0RDQUYxMUUzQTFGOTlCRTU0OTQ5MDdFNSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpDNThFRDI2RERDQUYxMUUzQTFGOTlCRTU0OTQ5MDdFNSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PoQIufsAAAUXSURBVHjarFjbaxxVHN6dHbNJU7s0bY1pbRKtF6opXqBgVQRNosmDIhSffPFFRH3yRSj6Fyj4oG+i+CCIgiiiSEwCYqIUlVooKFUiTdtoa0swRrPpLTN+n/lm+XmYM3s264GPOfOb2ze/+znlmZmZkh1pmpbyhiPfDgxCdp3mNaAT5xGOV4C/gEXgNGRzOJ71vWt4eDj3e7ErKJfLPnJXAfuAIWAHEBlUzJz3dQO78J47JDsPfAschuxiKWDEeUKHHF+8D7L9kG3SeSo0lOC+wplfCzwGPAx8DtBMScvEzKCJRoBrHEKXgHlgATgH/AlcEIkq0APsBG4EbgX4Q2X82GYcHwcOAG/p2XxiPtNB3g/5A/SdjBBkS5B9j/nPwGXPs/SxFfoX8A3QAdwFjAK9Ij8AvChyx3KtNjs7m+fcNwD3kzjkZRE7wpfgfM3nyC5J5xr98EHgEWk1StdveHtkZOSwSyyyfqWxG7hP8wRymukj4CiwZu4rHDma5A9NAa8oGMpypaemp6fv9BITuS043GN8iS/4BPLFUhvDIUkTvwzZaRPRz4Jcn48Y/+AASNDvUjk0/3DV0ah33gLRZRxelfOTQxfw3NTUVCWP2E3AVoUxHftLRVrpf9SWPWcSfl3BQn/bo3SyTkx/TFvvFalEkfKHq41QTQVWj5Iqw4eqGMRBaK2zoTF85HqaUKSo5p98BFoxXVHEGtlnxqQ1pZWGKQcUgcRxNyuTTJ623GMr5sxko6OjjNaPTUlrENui2pZl9FMukY04fQvm5PgauChf65+cnByM1B1kvnVG+SZXUxsxbTNzSmsXcO2o8bXb6fw1mZA47yvqRab0mckeC3wsG8eMOffGMmOiPLbsfsw+nF2jzEfKnReVKWfMG5/vj1VkM2L1Ir9ySblzq50QEzrjjCG2IxahxHQGhcM1afbRKIpKSZLkEgscdTk/P7CZ5SdpJ7NbovV6vd0KkZWkKOvRU2mtEkrGgtqK47g0NDTUjta6jfOvxirSFZFjMb0ckgpsZNqodYPFJVfwzl3GxxZpyhW1viUdl0PMlqc5N0DyordAi3tM+74QiUiWYGuhecyVVavVXAKhJsU9+02C/ZGmXDJRWdOFxKfyvDpJ0Mea5TjfOycmJthR3Gva7SORFg51kWEl2Oark0XFu1KptFS8nfEQU4RS18mxsbG5rO35XV0rNddn14W+cmTPSSqKouCibQlCW1T1kyYiP7WN4jl1FokqQW+zgm3nNGMbjeMTarv4gr+18GmEJzuK37J8ho/0Al2hLQ+15UZl4LgZ9z5jnP5NmLHu9vzU2opMmi1K42YLEZJyiQVqbasWJF1apbNrfj9vXcmV9glVgkSbIwNqub2D/rWBteY24A3uGIkDFz2HoK21/yxGzIvZRZ4UMRLt1MNVn+ZCNWbI3YLDu8BtsgzZHhofH5/3Lng1mHAXVNxTaW4Q5z3OLk5uoi0w3b+rbuAD4+z8xksg9UXoNtSSAmKnIcMW/Got67gmTAO1Ra0/CjydLXqYRPEMnfwFkJoO3rgzC1L6XB9kVaO97XLcOkit4hrTzBUFTUlbULtlqru1kbLJdDD8wA/g9jyemQ/aH8v580uQnVKp6lm/pZz5ZjeIdSloUrPf8Z2ZZ2RS4yavAe/QIkVpJQ5oR1LV02Ut9Vg6YpBKff7l1EfeMKdU8J4sEbbV2axgZ1tSIkh0MGKBDm3CRM5P/Ar8oj21r4DjrXa0/wgwAH1RX0BalIN1AAAAAElFTkSuQmCC);
	background-size:50px;
	display:block;
	height:50px;
	width:50px;
}
/*-end:loading-*/

/*-start:toast-*/
.padt_toast{
	background:rgba(0,0,0,.7);
	border-radius:15px;
	color:#fff;
	font-size:30px;
	left:50%;
	line-height:1.375em;
	margin-left:-7.75em;
	padding:.75em;
	position:absolute;
	text-align:center;
	top:50%;
	transform:translate(0,-50%);
	width:14em;
	z-index:1000;
}
/*-end:toast-*/

/*-start:预加载-*/
.padt_preload{
	height:0 !important;
	opacity:0 !important;
	pointer-events:none !important;
	position:absolute !important;
	width:0 !important;
}
/*-end:预加载-*/

/*-start:常用动画-*/
@keyframes padtShow{
	0%{opacity:0;}
}
@keyframes padtHide{
	100%{opacity:0;}
}
@keyframes padtDrop{
	0%{opacity:0;transform:translate3d(-50%,-150%,0);}
	40%{opacity:1;transform:translate3d(-50%,-48%,0);}
	55%{opacity:1;transform:translate3d(-50%,-51.5%,0);}
	70%{opacity:1;transform:translate3d(-50%,-49%,0);}
	85%{opacity:1;transform:translate3d(-50%,-50.5%,0);}
	100%{opacity:1;transform:translate3d(-50%,-50%,0);}
}
@keyframes padtShake{
	0%,2%,4%,6%,8%,10%,12%{transform:translate3d(1.5%,0,0);}
	1%,3%,5%,7%,9%,11%,13%{transform:translate3d(-1.5%,0,0);}
	14%,100%{transform:translate3d(0,0,0);}
}
/*-end:常用动画-*/

/*-start:常用动画class-*/
.padt_show{animation:padtShow .3s;}
.padt_hide{animation:padtHide .3s forwards;pointer-events:none;}
.padt_drop{animation:padtDrop .5s .1s backwards;transform:translate(-50%,-50%);}
.padt_shake{animation:padtShake 3s infinite;}
/*-end:常用动画class-*/

.padt_con{
	height:100%;
	left:0;
	overflow:hidden;
	position:absolute;
	top:0;
	width:100%;
}
.padt_cover{
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:100%;
}
.padt_square{
	left:0;
	padding-bottom:100%;
	position:absolute;
	top:0;
	width:100%;
}
.padt_center{
	left:50%;
	position:absolute;
	top:50%;
	transform:translate(-50%,-50%);
}
.padt_center_x{
	left:50%;
	position:absolute;
	transform:translateX(-50%);
}
.padt_center_y{
	position:absolute;
	top:50%;
	transform:translateY(-50%);
}

/*-start:flex-*/
.padt_flex_l,.padt_flex_c,.padt_flex_r{
	align-items:center;
	display:flex;
	flex-direction:row;
}
.padt_flex_l{justify-content:flex-start;}
.padt_flex_c{justify-content:center;}
.padt_flex_r{justify-content:flex-end;}
.padt_flex_item_g{flex-grow:1;}
/*-end:flex-*/

/*-start:遮罩-*/
.padt_overlay{
	animation:padtShow .3s;
	background:#000;
	height:100%;
	left:0;
	opacity:.5;
	position:absolute;
	top:0;
	width:100%;
}
/*-end:遮罩-*/

.padt_clearfix:after{
	clear:both;
	content:'';
	display:block;
}

/*-start:×-*/
.padt_cross{position:absolute;transform:rotate(45deg);}
.padt_cross:before,.padt_cross:after{
	background:currentColor;
	content:'';
	position:absolute;
}
.padt_cross:before{height:100%;left:47%;top:0;width:6%;}
.padt_cross:after{height:6%;left:0;top:47%;width:100%;}
/*-end:×-*/

/*-start:箭头-*/
.padt_l_arrow:before,.padt_r_arrow:after{
	border-top:1px solid currentColor;
	box-sizing:border-box;
	content:'';
	display:inline-block;
	height:.55em;
	vertical-align:middle;
	width:.55em;
}
.padt_l_arrow:before{border-left:1px solid currentColor;transform:translateY(-15%) rotate(-45deg);}
.padt_r_arrow:after{border-right:1px solid currentColor;transform:translateY(-15%) rotate(45deg);}
/*-end:箭头-*/