/*-start:Eric Meyer’s CSS 清零代码-*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{background:transparent;border:0;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
:focus{outline:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
p,ul,h3,h1,h2,font{margin:0;padding:0;}
h1,h2,h3{font-size:1em;}
/*-end:Eric Meyer’s CSS 清零代码-*/

html{
	font-family:-apple-system,sans-serif;
	height:100%;
	overflow:hidden;
	-webkit-tap-highlight-color:transparent;
	-webkit-touch-callout:none;
	user-select:none;
}
body{height:100%;overflow:hidden;}